body {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.grid_1{
  width: 88vw;
    display: grid;

    /* grid-template-columns: repeat(4, 2fr);
    grid-auto-rows: minmax(30px, auto) 60px; */

    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows:11vh;
    border: 2vw solid rgba(0, 0, 0, 0.671);
    height: 176vh;


    background:rgba(255, 255, 255, 0.062);
}
.grid_1 > div{
    background-color: black;
   
    width: 11vw;
   max-height: 11vh;
    font-size: 1.5rem;
}
.item1 ,.item3 , .item5 , .item7{
    grid-row-start: 1;
    grid-row-end: 3;
}
.item2, .item4 , .item6, .item8{
    grid-row-start: 2;
    grid-row-end: 4;
}
.item10 , .item12 , .item14 , .item16{
    grid-row-start: 4;
    grid-row-end:6 ;
}
.item9 , .item11 , .item13 , .item15{
    grid-row-start:3 ;
    grid-row-end:5 ;
}
.item18 , .item20 , .item22 , .item24{
    grid-row-start: 6;
    grid-row-end:8 ;
}
.item17 , .item19 , .item21 , .item23{
    grid-row-start: 5;
    grid-row-end: 7;
}
.item26 , .item28 , .item30 , .item32{
    grid-row-start: 8;
    grid-row-end:10 ;
}
.item25 , .item27 , .item29 , .item31{
    grid-row-start: 7;
    grid-row-end:9 ;
}
.item34 , .item36 , .item38 , .item40{
    grid-row-start: 10;
    grid-row-end:12 ;
}
.item33 , .item35 , .item37 , .item39{
    grid-row-start: 9;
    grid-row-end:11 ;
}
.item42 , .item44 , .item46 , .item48{
    grid-row-start:12 ;
    grid-row-end:14 ;
}
.item41 , .item43 , .item45 , .item47{
    grid-row-start:11 ;
    grid-row-end:13 ;
}
.item50 ,.item52 , .item54 , .item56{
    grid-row-start:14 ;
    grid-row-end:16 ;
}
.item49 , .item51 , .item53 , .item55{
    grid-row-start:13 ;
    grid-row-end:15 ;
}
.item58 , .item60 , .item62 , .item64{
    grid-row-start:16 ;
    grid-row-end:18 ;
}
.item57 , .item59 , .item61 , .item63{
    grid-row-start:15 ;
    grid-row-end:17 ;
}



/* .item2{
    grid-row-start:2 ;
    grid-row-end: 4 ;
} 
.item1{
    grid-row-start: 1;
    grid-row-end:3;
}
.item3{
    grid-row-start: 1;
    grid-row-end:3;
}
.item4{
  grid-row-start:2; 
  grid-row-end: 4; 
}
.item5{
    grid-row-start: 3;
    grid-row-end: 5;
}
.item6{
    grid-row-start: 4;
    grid-row-end: 6;
}
.item7 , .item15{
    grid-row-start: 5;
    grid-row-end: 7;
}
.item8{
    grid-row-start: 6;
    grid-row-end:8;
}
.item9 , .item16{
    grid-row-start: 7;
    grid-row-end: 9;
}
.item10 , .item21{
    grid-row-start: 8;
    grid-row-end: 10;
}
.item11{
    grid-row-start: 9;
    grid-row-end: 11;
}
.item12 , .item22{
    grid-row-start: 10;
    grid-row-end: 12;
}
.item13{
    grid-row-start: 11;
    grid-row-end: 13;
}
.item14{
    grid-row-start: 3;
    grid-row-end: 5;
}
.item18{
    grid-row-start: 9;
    grid-row-end: 11;
}
.item19{
    grid-row-start: 6;
    grid-row-end: 4;
}
.item20{
    grid-row-start:8;
    grid-row-end: 6;
}
.item17{
    grid-row-start:11;
    grid-row-end:13 ;
} */



.container_last {
    background-color: brown;
    width: 100vw;
    height: 80vw;
    display: grid;
    grid-template-columns: repeat(2, 20vw);

    grid-template-rows: 50vw;
    
    grid-column-gap: 60vw;
    
    /* grid-template-rows: 100px 50px 160px;
    grid-template-columns: repeat(4, 1fr); */
   /* grid-column-gap: 10px;
   grid-row-gap:40px;  */
  }
.container_last div {
    margin-top:30vw; 
}
  
  .box_last1{
      background: chartreuse;
    
     
  }
  .box_last2{
      background: cyan;
      

  }
/* ---------------------------------- */
.grid_2{
    background: springgreen; 
   display: grid;
   grid-template-columns: repeat(6,1fr);
   grid-auto-rows:minmax(40px,auto)
}

.grid_2 > div{
    background:royalblue;
      margin: 1%;
      font-size: 1.5rem;
}
.ite1 , .ite3 , .ite5{
    grid-row-start: 1;
    grid-row-end: 10;
}
.ite2 , .ite4 , .ite6{
    grid-row-start: 1;
    grid-row-end: 4;
}
.ite8{
    grid-row-start: 6;
    grid-row-end: 10;
}
.ite7{
    grid-row-start: 6;
    grid-row-end: 10;
}
.ite9{
    grid-row-start: 6;
    grid-row-end: 10 ;
}



/* ----------------------------------------- */

.grid_4{
    background: yellow;
    display: grid;
    grid-template-columns: repeat(5,1fr 1fr);
    grid-auto-rows:minmax( 40px,auto);
}
.grid_4 > div{
    background-color: red;
    margin: 1%;
    font-size: 1.5em;
    width: 49vw;
}
.em1 , .em3 , .em5 , .em7{
    grid-column-start: 7;
    grid-column-end: 1;

    

}
.em2 , .em4 , .em6 , .em8{
    grid-column-start: 6;
    grid-column-end: 11;

}
/* ----------------------------------- */

.grid_5{
    background-color:deeppink;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-auto-rows: minmax(40px,auto);
}
.grid_5 > div{
    background: rgb(55, 243, 165);
    font-size: 1.8rem;
    margin: 1%;
}
.last_1{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
}

.last_2 {
    grid-column-start: 5 ;
    grid-column-end: 9;
}
.last_3 {
    grid-column-start: 5 ;
    grid-column-end: 7;
}
.last_4 {
    grid-column-start: 7 ;
    grid-column-end: 9;
}
.last_9 {
    grid-column-start: 1;
    grid-column-end: 9;
}
/* .last_1{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 6;
}
.last_2{
    grid-column-start: 3;
    grid-column-end: 5;
}
.last_5{
    grid-column-start:3;
    grid-column-end: 4;
    
}
.last_6{
    grid-column-start: 0.4;
    grid-column-end: 5;
}
.last_7{
    grid-column-start:3;
    grid-column-end:5;
    grid-row-start: 4;
    grid-row-end: 6;
}



.last_8 , .last_9{
    grid-column-start: 1;
    grid-column-end:5 ;
} */











