body {
    margin: 0;
}
/* .line {
     position: fixed; 
     height: 1px; 
     width: 80vw; 
    border: 2px dashed black; 
    transform: translate(0 , 300px) rotateZ(30deg);
} */
/* div{
    position: absolute;
    background: yellow;
    height: 400px;
    width: 400px;
    border:2px solid red;
    margin-left: 100px;
    margin-top: 50px; 
} */
.train {
      z-index: 1;
     position: fixed;
     left: 0;
     top: 0;
    width: 50px;
    transform: translate(100px,100px);
    animation-name: Train;
    animation-duration: 10s; 
    animation-iteration-count:  infinite; 
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-timing-function: steps(120,end);
    animation-timing-function: linear;
}

/* кагда мы используем rotate and translate в месте то translate идет первым, a заним rotate */
@keyframes Train {
   0%{
       transform: translate(100px,100px);
       border:1px dotted darkviolet;
       
    }
 
     24%{
        transform: translate(400px,100px);
        border: 4px groove darkturquoise;
   }
  25%{
       transform: translate(400px,100px) rotateZ(90deg);
   }
  
    49%{
       transform: translate(400px,400px) rotateZ(90deg);
       border: 6px dashed black;
   } 
   50%{
       transform: translate(400px,400px) rotateZ(180deg);
   }
   74%{
       transform: translate(100px,400px) rotateZ(180deg);
   }
   75%{
       transform: translate(100px,400px) rotateZ(270deg);
   }
   99%{
       transform: translate(100px,100px) rotateZ(270deg);
   }
  100%{
      transform: translate(100px,100px) rotateZ(360deg);
  }
   /*
   72%{
    transform: translate(100px,400px) rotateZ(180deg);
    border: 8px ridge fuchsia;
}
  
   96%{
    transform: translate(100px,400px) rotateZ(270deg);
    border: 10px outset greenyellow;
}
   100%{
       transform: translate(100px,100px) rotateZ(360deg);
   } */
 
   }











   






    

/* анимация- изменения росположения тегa */
p{
    margin:0;

}
.pole {
    background: grey;
    width: 100vw;
    height: 100vh;
    display: flex;
}
.left {
    width: 100%;
}
.num {
    height: 99px;
    border-bottom: 1px solid black;
    
}
.right {
  
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: flex;
    height: 100vh;
}
.count {
    width: 99px;
   
    border-right: 1px solid black;
}
