body {
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(78, 126, 31);
    height: 100vh;
}

.div {
    width: 70vw;
    height: 70vh;
    width: 300px;
    height: 300px;
    padding: 0 50px 50px 0;
    background: chocolate;
    border-radius:50%;
}
img {
    width: 50px;
   /* 4,5 deg 10px */


    transform: translate(350px,150px) rotate(0deg);
    transform: translate(150px,-50px) rotate(0deg);
    transform: translate(220px,-35px) rotate(31.5deg);
    transform: translate(250px,-20px) rotate(45deg);
    transform: translate(280px,0px) rotate(58.5deg);
    transform: translate(310px,30px) rotate(72deg);
    transform: translate(340px,90px) rotate(85.5deg);
    transform: translate(340px,90px) rotate(85.5deg);
    
    
    
    animation-name: Train;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes Train {
    0%{
        transform: translate(150px,-50px) rotate(0deg);
    }
    
    1.25%{
        transform: translate(160px,-50px) rotate(4.5deg);
        
    }
    2.5%{
        transform: translate(170px,-50px) rotate(9deg);
        
    }
    5% {
        transform: translate(190px,-45px) rotate(18deg);
    }


    12.5%{

        /* transform: translate(325px,50px) rotate(0deg); */

    }
    25%{
        transform: translate(350px,150px) rotate(90deg);
        
    }
    50%{
        transform: translate(150px,350px) rotate(180deg);
        
    }
    75%{
        transform: translate(-50px,150px) rotate(270deg);
        
    }
    100%{
        transform: translate(150px,-50px) rotate(360deg);

    }
    /* 24% {
        
        transform: translate(30vw,0) rotate();
    }
    25% {
        transform: translate(70vw,0) rotate(90deg);
         
    }
    32%{
        transform: translate(70vw,0) rotateZ(120deg);
    }
    49%{
        transform: translate(70vw,70vh) rotateZ(140deg);
        
        
    }
    50% {
        transform: translate(70vw,70vh) rotateZ(160deg);
        
    }
    74%{
        transform: translate(0,70vh) rotateZ(180deg);
        
        
    }
    75%{
        transform: translate(0,70vh) rotateZ(240deg);
        
        
    }
    99%{
        transform: translate(0,0) rotateZ();
        
    }
    100%{
        transform: translate(0,0) ;

    } */
}

/* Анимация- это изменение местоположения тега с точки А в точку Б */