body{
    margin:0;
    height: 100vh;
    background: gray;
}
.container {
    
    background: darkviolet;
    width: 80vw;
    height: 50vh;
    margin-left: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.container .box{
width: 50px;
height: 50px;

}
.container .box:nth-child(1){
    background: forestgreen;
    position: absolute;
    width: 13%;
    top: 5%;
 

}
.container .box:nth-child(2){
    background: gold;
    position: absolute;
   width: 13%;
   top: 30%;
 
}
.container .box:nth-child(3){
    background:deepskyblue;
    position: absolute;
    width: 13%;
   bottom: 30%;
    
}
.container .box:nth-child(4){
    background: greenyellow;
    position: absolute;
    width: 13%;
    bottom: 5%;
    
}
/* end */
.logo{
    background: springgreen;
    width: 80vw;
    height: 50vh;
    margin-left: 10vw;
    position: relative;
}
.logo .box_1{
    height: 50px;
    width: 50px;
}
.box_1:nth-child(1){
    background: turquoise;
    position: absolute;
    right: 0;
    top: 0;
}
.box_1:nth-child(2){
    background: tomato;
    position: absolute;
    right: 0;
    top: 15%;
}
.box_1:nth-child(3){
    background: violet;
    position: absolute;
    bottom: 0;
}
.box_1:nth-child(4){
    background: yellow;
    position: absolute;
    bottom: 15%;
}
/* end */

.main{
    background: yellowgreen;
    width: 80vw;
    height: 50vh;
    margin-left: 10vw;
    display: flex;
    justify-content: center;
    position: relative;
}
.main .box_2{
    height: 50px;
    width: 50px;
}
.main .box_2:nth-child(1){
    background: steelblue;
    position: absolute;
    width: 10%;
    top:2%
    
    
}
.box_2:nth-child(2){
    background: thistle;
    position: absolute;
  
    width: 95%;
   top: 20%;
}
.box_2:nth-child(3){
    background: saddlebrown;
    position: absolute;
    top: 40%;
    width: 30%;
    
}
.box_2:nth-child(4){
    background: slategrey;
    position: absolute;
    top: 60%;
    width: 95%;
   
}
/* end */

.naw{
    background: turquoise;
    width: 80vw;
    height: 50vh;
    margin-left: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative
}
.naw .box_3{
    height: 50px;
    width: 50px;
}
.box_3:nth-child(1){
    background: yellow;
    position: absolute;
    width: 15%;
    bottom: 10%;
    right: 10%;
   
}
.box_3:nth-child(2){
    background: royalblue;
    position: absolute;
    width: 15%;
    bottom: 30%;
    right: 30%;
   
}
.box_3:nth-child(3){
    background: seashell;
    position: absolute;
    width: 15%;
    top: 35%;
    left: 35%;
   
}
.box_3:nth-child(4){
    background: salmon;
    position: absolute;
    width: 15%;
    top: 15%;
    left: 15%;
   
}
/* end */

.asid{
    background: snow;
    width: 80vw;
    height: 50vh;
    margin-left: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative
}
.asid .box_4{
    height: 50px;
    width: 50px;
}
.box_4:nth-child(1){
    background: springgreen;
    position: absolute;
    width: 10%;
    top: 10%;
    left: 15%;
  
}
.box_4:nth-child(2){
    background: tan;
    position: absolute;
    width: 10%;
    right: 15%;
    top: 10%;
   
}
.box_4:nth-child(3){
    background: thistle;
    position: absolute;
    width: 10%;
    /* right: 45%; */
    top: 40%;
   
}
.box_4:nth-child(4){
    background: red;
    position: absolute;
    width: 80%;
    bottom: 20%;
   
}
/* end */
.footer{
    background: darkmagenta;
    width: 80vw;
    height: 50vh;
    margin-left: 10vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
}
.footer .box_5{
    height: 50px;
    width: 70px;
}
.box_5:nth-child(1){
    background: darkorange;
    position: absolute;
    height: 100%;
    left: 2%;
    
}
.box_5:nth-child(2){
    background: dimgrey;
    position: absolute;
    top: 0;
    left: 20%;
}
.box_5:nth-child(3){
    background: lawngreen;
    position: absolute;
    bottom: 0;
    left: 20%;
}
.box_5:nth-child(4){
    background: lightgoldenrodyellow;
    position: absolute;
    height: 100%;
    top: 0;
    right: 50%;

}
.box_5:nth-child(5){
    background: lightpink;
    position: absolute;
    top: 0;
    right: 33%;
}
.box_5:nth-child(6){
    background: lightsalmon;
    position: absolute;
    bottom: 0;
    right: 33%;
    
}
.box_5:nth-child(7){
    background: lightskyblue;
    position: absolute;
    height: 100%;
    right: 17%;
}
.box_5:nth-child(8){
    background: fuchsia;
    position: absolute;
    top: 0;
    right: 2%;
}
.box_5:nth-child(9){
    background: mediumblue;
    position: absolute;
    bottom: 0;
    right: 2%;
}

.fixed_1 {
    width: 150px;
    height: 150px;
    background: gainsboro;
    position: fixed;
    left: 45%;
    z-index: 2;
}
.fixed_2 {
    width: 100px;
    height: 100px;
    background: rgb(150, 11, 11);
    position: fixed;
    left: 45%;
    z-index: 3;
}
.fixed_3 {
    width: 50px;
    height: 50px;
    background: rgb(23, 155, 93);
    position: fixed;
    left: 45%;
    z-index: 4;
}