body{
   
    background: black;
    overflow: hidden;
    margin: 50vh 0 0 0;
    position: relative;
}
body::after{
    content: '';
    position: fixed;
    top:0;
    width: 100%;
    height: 20%;
}



.wrapper {
    perspective:450px ;
    display: flex;
    height: 100%;
    width: 72%;
    margin:0 auto;

}
.animScroll  {
   color: #ffff00;
    font-size: 3vw;   
    line-height: 1.6em;
    font-size: bold;
    text-align: justify;
    position: relative;
    animation-name: scroll;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
 
}

h1 ,h2 {
    text-align: center;
}

@keyframes scroll {
    from {
        top: 0;
        transform: translateZ(0) rotateX(23deg) translateY(900px);
    }
    to {
        transform: translateZ(-2500px) rotateX(24deg);
        top: -6500px;
    }
}


.audio {
    position: fixed;
    z-index: 99;
    top: 0;
opacity: .1;
    left: 0;
}