body {
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: gold;
    
}
.box {
    width: 200px;
    height: 200px;
    background: green;
transform: matrix(.5,.6,-.9,1.7,45,45);
transform: rotateZ(35deg);
animation-name: fgt;
animation-duration: 12s;
transform: translate(0px,0px) rotate(15deg);
}
@keyframes fgt{
    0%{
        transform: translate(0px,0px) rotate(45deg);
    }
    50%{
        transform: translate(50px,50px)rotate(90deg);
        border: 40px double red;
    }
    100%{
        transform: translate(50px,50px) rotate(180deg);
        border: 68px dotted blueviolet;
    }
}