@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
   margin: 0;
   font-family: 'Roboto', sans-serif;
}
body{
    background: url(./img/background\ 1.png) 0 0/ 100% 100% no-repeat;   
    height: 100vh;
    display: flex;
    justify-content: center;

}
.global_body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 46px;
    max-width: 1030px;
    width: 100vw;
    padding-bottom:15px ;

}
header{
    display: flex;
    justify-content: space-between; 
    height: 61px;
    color: #FFFFFF;
}

.news_logo{
    display: flex;
    cursor:pointer;

}
.logo_header {
    width: 53px;
    height: 47px;
    background: url('./img/logo_white.svg');
}
.news_logo:hover{
    color: #F26522;
}
.news_logo:hover .logo_header {
   background: url(./img/logo_orange.png);
}
.logo_text{
    margin-left: 8px;
}
.logo_text h2:nth-child(1){
    font-size: 29px;
    line-height: 29px;
    
}
.logo_text h2:nth-child(2){
    font-size: 18px;
}

.container_logo{
    text-align: right;
    display: flex;
    flex-direction: column;
    
}
.container_logo a {
    font-size: 18px;
    font-weight: 400;
    transition: all .5s;
}
.container_logo:hover a{
    
}
.container_logo a:nth-child(2){
    margin-top: 19px;
} 
.container_logo a:hover{
    color:#F26522;
    cursor: pointer; 
}
/* ----------------------- */
.main_img{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 22px;
}

.current_img_container {
    height: 261px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin:0 0 37px 0;
    
}

.container_img {
    display: flex;
    justify-content: center;
    
}
.container_img img {
    height: 220px;
    width: 300px;
}

.cont_anim{
    height:0;
    width:0;
    background: #F26522;  
    display: flex;
    justify-content: space-between;
    transition: all 1.5s;
    position: absolute;
    cursor: pointer;
    bottom: 42px;
     
}

.current_img_container:hover .cont_anim {
    height: 55px;
    width: 100% 
}  

.container_left_current_img{
    color: #FFFFFF;
    font-weight: normal;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 16px;
  
}

.current_img_container:hover .container_left_current_img p:nth-child(1){
    font-size: 10px;
   
}

.container_left_current_img p:nth-child(1) {
    font-size: 10px;
    margin: 7px 0 8px 0; 
    transition: all 1.5s;
    font-size: 0;
}
.current_img_container:hover .container_left_current_img p:nth-child(2){
    font-size: 20px;
    margin: 0;
}
.container_left_current_img p:nth-child(2){
    font-size: 20px;
    transition: all 1.5s;
    font-size: 0;
    margin-top: -20px;
}
/* -------------------- */

.container_right_current_img{ 
    color: #FFFFFF;
    display: flex;
    align-items: center;
    margin-right: 14px;
}
.container_right_current_img p{
    /* font-size: 10px; */
    padding-right: 16px;
    transition: all 1.5s;
    font-size: 0;
}
.current_img_container:hover .container_right_current_img p{
    font-size: 10px;
}
.right_current_svg{
    width: 0;
    transition: all 1.5s;
}
.current_img_container:hover .right_current_svg{
    width: 7px;
}
.current_img_container .p_global {
    transition:all 1.5s;
    margin-top: 4px;

}
.current_img_container:hover .p_global{
    color: #F26522;
    cursor: pointer;
}
.main_img .p_global{
    text-align: center;
    color: #FFFFFF;
    font-size: 18px;
    margin: 0; 
    padding: 20px 0 0 0;
}


footer{  
    height: 21px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
   margin:12px 0 0 0;
}
