 .cont {
position: fixed;
top: 100px;
left: 100px;
background: gray;
width: 400px;
height: 400px;

display: flex;
justify-content: center;
align-items: center;
}
.cub {
    width: 200px;
    height: 200px;
    
    background: green;
} 
.train {
    width: 50px;
    transform: translate(-50px,-50px);
    transform: translate(200px,-50px);
    transform: translate(200px,200px);
    transform: translate(-50px,200px);

 }
.train{
    width: 50px;
    transform: translate(0px,0px);
    animation-duration: 10s;
    animation-name: train;
    animation-iteration-count: infinite;
     animation-direction: alternate-reverse; 
    animation-timing-function: steps(20,end);  
 } 
@keyframes train{
    0%{
        transform: translate(0px,0px);
    }
    
    25%{
        transform: translate(150px,0px);
    }
    
    50%{
        transform: translate(150px,150px);
    }
    75%{
        transform: translate(0px,150px);

    }
    100%{
        transform: translate(0px,0px); 
    }
}
.train{
    width: 50px;
     transform: translate(75px,150px);
    transform: translate(0px,75px);
    transform: translate(150px,75px);
    transform: translate(75px,0px);

 }
.train{
    width: 50px;
    transform: translate(75px,200px);
    transform: translate(-50px,75px);
    transform: translate(200px,75px);
    transform: translate(75px,-50px);
}

.train{
    width: 50px;
     transform: translate(0px,0px); 
     transform: translate(75px,75px); 
     transform: translate(0px,0px); 
     transform: translate(0px,0px);  
}





   
