body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: turquoise;
}

.romb{
    height: 200px;
    width: 200px;
    background: coral;
    transform: rotate(45deg);
}
.crug {
    height: 300px;
    width: 300px;
    background: coral;
    border-radius: 100%;
}
.oval {
    height: 200px;
    width: 300px;
    background: coral;
    border-radius: 100%;
}
.treugol {
    width: 0;
    height: 0;

    border: 200px solid transparent;
    border-top: rgb(34, 34, 29) solid 200px;
    /* border-bottom: 100px solid black;
    border-left: 150px solid black;
    border-right: 200px solid rgb(34, 34, 29); */
}
.trapetia {
    width: 0;
    height: 0;

    /* width: 30px;height: 30px;
    background: black; */

    border: 200px solid transparent;
    border-top: 13px rgb(34, 34, 29) solid ;

    border-bottom: 33px solid rgb(165, 30, 30);
    border-left: 68px solid rgb(36, 182, 72);
    border-right: 68px solid rgb(212, 212, 41);
    width: 30px;
    height: 13px;
    background: blueviolet;
    transition: all .9s;
    cursor: pointer;
}
.trapetia:hover {
    border-top: 50px rgb(34, 34, 29) solid ;
    
    border-bottom: 100px solid rgb(165, 30, 30);
    border-left: 200px solid rgb(36, 182, 72);
    border-right: 200px solid rgb(212, 212, 41);
    width: 90px;
    height: 50px;
    background: black;
}
    






/* .treg_1{ */
    /* height: 0;
    width: 0;
    border: 200px solid transparent;
    border-right: 250px solid red;
}



.train {
    width: 50px;
    transform: translate(0px,0px);
    animation-duration: 10s;
    animation-name: train;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.romb_1{
    height: 250px;
    width: 250px;
    background: rgb(36, 182, 72);
    transform: rotate(45deg);
    animation-duration: 10s;
    animation-name: romb;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
}


@keyframes romb{
0%{
    transform: rotate(0deg);
}
100%{
    
    transform: rotate(-360deg);
}
}
@keyframes train{
    0%{
        transform: translate(0px,0px);
    }
    25%{
        transform: translate(200px,0);
    }
    50% {
        transform: translate(200px,200px);
        
    }
    75%{
        transform: translate(0px,200px);

    }
    100%{
        transform: translate(0px,0px);
    }


}
*/

/* transform: translate(210px,175px) rotate(45deg); */

.trai{
    height: 0px;
    width: 0px;
    transform: translate(0,-200px);
    border: 200px solid transparent;
    border-bottom:200px solid rgb(165, 30, 30) ;
    
}
/* .train{
    width: 50px;
    animation-name: train;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform: translate(10px,-25px) rotate(45deg);

    transform: translate(-25px,-60px) rotate(315deg);
}
@keyframes train{
    0%{
        transform: translate(10px,-25px) rotate(45deg);
        
    }
    30%{
        transform: translate(210px,175px) rotate(45deg);
        
    }
    33.3%{
        transform: translate(150px,200px) rotate(180deg);
    }
    63.3%{
        transform: translate(-250px,200px) rotate(180deg);
    }
    66.6%{
        transform: translate(-260px,175px) rotate(315deg);
        
    }
    96.6%{
        transform: translate(-25px,-60px) rotate(315deg);
        
    }
    100%{
       
        transform: translate(10px,-25px) rotate(360deg);


    } */
/* .train{
    width: 50px;
    animation-name: train;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform: translate(10px,-25px) rotate(45deg);

    transform: translate(-25px,-60px) rotate(315deg);
}
@keyframes train{
    0%{
        transform: translate(10px,-25px) rotate(45deg);
        
    }
    30%{
        transform: translate(210px,175px) rotate(45deg);
        
    }
    33.3%{
        transform: translate(150px,200px) rotate(180deg);
    }
    63.3%{
        transform: translate(-250px,200px) rotate(180deg);
    }
    66.6%{
        transform: translate(-260px,175px) rotate(315deg);
        
    }
    96.6%{
        transform: translate(-25px,-60px) rotate(315deg);
        
    }
    100%{
       
        transform: translate(10px,-25px) rotate(360deg);


    } */
/* .train{
    width: 50px;
    animation-name: train;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform: translate(10px,-25px) rotate(45deg);

    transform: translate(-25px,-60px) rotate(315deg);
}
@keyframes train{
    0%{
        transform: translate(10px,-25px) rotate(45deg);
        
    }
    30%{
        transform: translate(210px,175px) rotate(45deg);
        
    }
    33.3%{
        transform: translate(150px,200px) rotate(180deg);
    }
    63.3%{
        transform: translate(-250px,200px) rotate(180deg);
    }
    66.6%{
        transform: translate(-260px,175px) rotate(315deg);
        
    }
    96.6%{
        transform: translate(-25px,-60px) rotate(315deg);
        
    }
    100%{
       
        transform: translate(10px,-25px) rotate(360deg);


    } */
/* .train{
    width: 50px;
    animation-name: train;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform: translate(10px,-25px) rotate(45deg);

    transform: translate(-25px,-60px) rotate(315deg);
}
@keyframes train{
    0%{
        transform: translate(10px,-25px) rotate(45deg);
        
    }
    30%{
        transform: translate(210px,175px) rotate(45deg);
        
    }
    33.3%{
        transform: translate(150px,200px) rotate(180deg);
    }
    63.3%{
        transform: translate(-250px,200px) rotate(180deg);
    }
    66.6%{
        transform: translate(-260px,175px) rotate(315deg);
        
    }
    96.6%{
        transform: translate(-25px,-60px) rotate(315deg);
        
    }
    100%{
       
        transform: translate(10px,-25px) rotate(360deg);


    } */
/* .train{
    width: 50px;
    animation-name: train;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform: translate(10px,-25px) rotate(45deg);

    transform: translate(-25px,-60px) rotate(315deg);
}
@keyframes train{
    0%{
        transform: translate(10px,-25px) rotate(45deg);
        
    }
    30%{
        transform: translate(210px,175px) rotate(45deg);
        
    }
    33.3%{
        transform: translate(150px,200px) rotate(180deg);
    }
    63.3%{
        transform: translate(-250px,200px) rotate(180deg);
    }
    66.6%{
        transform: translate(-260px,175px) rotate(315deg);
        
    }
    96.6%{
        transform: translate(-25px,-60px) rotate(315deg);
        
    }
    100%{
       
        transform: translate(10px,-25px) rotate(360deg);


    } */
/* .train{
    width: 50px;
    animation-name: train;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform: translate(10px,-25px) rotate(45deg);

    transform: translate(-25px,-60px) rotate(315deg);
}
@keyframes train{
    0%{
        transform: translate(10px,-25px) rotate(45deg);
        
    }
    30%{
        transform: translate(210px,175px) rotate(45deg);
        
    }
    33.3%{
        transform: translate(150px,200px) rotate(180deg);
    }
    63.3%{
        transform: translate(-250px,200px) rotate(180deg);
    }
    66.6%{
        transform: translate(-260px,175px) rotate(315deg);
        
    }
    96.6%{
        transform: translate(-25px,-60px) rotate(315deg);
        
    }
    100%{
       
        transform: translate(10px,-25px) rotate(360deg);


    } */
/* .train{
    width: 50px;
    animation-name: train;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform: translate(10px,-25px) rotate(45deg);

    transform: translate(-25px,-60px) rotate(315deg);
}
@keyframes train{
    0%{
        transform: translate(10px,-25px) rotate(45deg);
        
    }
    30%{
        transform: translate(210px,175px) rotate(45deg);
        
    }
    33.3%{
        transform: translate(150px,200px) rotate(180deg);
    }
    63.3%{
        transform: translate(-250px,200px) rotate(180deg);
    }
    66.6%{
        transform: translate(-260px,175px) rotate(315deg);
        
    }
    96.6%{
        transform: translate(-25px,-60px) rotate(315deg);
        
    }
    100%{
       
        transform: translate(10px,-25px) rotate(360deg);


    } */
/* .train{
    width: 50px;
    animation-name: train;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform: translate(10px,-25px) rotate(45deg);

    transform: translate(-25px,-60px) rotate(315deg);
}
@keyframes train{
    0%{
        transform: translate(10px,-25px) rotate(45deg);
        
    }
    30%{
        transform: translate(210px,175px) rotate(45deg);
        
    }
    33.3%{
        transform: translate(150px,200px) rotate(180deg);
    }
    63.3%{
        transform: translate(-250px,200px) rotate(180deg);
    }
    66.6%{
        transform: translate(-260px,175px) rotate(315deg);
        
    }
    96.6%{
        transform: translate(-25px,-60px) rotate(315deg);
        
    }
    100%{
       
        transform: translate(10px,-25px) rotate(360deg);


    } */
/* .train{
    width: 50px;
    animation-name: train;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform: translate(10px,-25px) rotate(45deg);

    transform: translate(-25px,-60px) rotate(315deg);
}
@keyframes train{
    0%{
        transform: translate(10px,-25px) rotate(45deg);
        
    }
    30%{
        transform: translate(210px,175px) rotate(45deg);
        
    }
    33.3%{
        transform: translate(150px,200px) rotate(180deg);
    }
    63.3%{
        transform: translate(-250px,200px) rotate(180deg);
    }
    66.6%{
        transform: translate(-260px,175px) rotate(315deg);
        
    }
    96.6%{
        transform: translate(-25px,-60px) rotate(315deg);
        
    }
    100%{
       
        transform: translate(10px,-25px) rotate(360deg);


    } */
/* .train{
    width: 50px;
    animation-name: train;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform: translate(10px,-25px) rotate(45deg);

    transform: translate(-25px,-60px) rotate(315deg);
}
@keyframes train{
    0%{
        transform: translate(10px,-25px) rotate(45deg);
        
    }
    30%{
        transform: translate(210px,175px) rotate(45deg);
        
    }
    33.3%{
        transform: translate(150px,200px) rotate(180deg);
    }
    63.3%{
        transform: translate(-250px,200px) rotate(180deg);
    }
    66.6%{
        transform: translate(-260px,175px) rotate(315deg);
        
    }
    96.6%{
        transform: translate(-25px,-60px) rotate(315deg);
        
    }
    100%{
       
        transform: translate(10px,-25px) rotate(360deg);


    } */
/* .train{
    width: 50px;
    animation-name: train;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform: translate(10px,-25px) rotate(45deg);

    transform: translate(-25px,-60px) rotate(315deg);
}
@keyframes train{
    0%{
        transform: translate(10px,-25px) rotate(45deg);
        
    }
    30%{
        transform: translate(210px,175px) rotate(45deg);
        
    }
    33.3%{
        transform: translate(150px,200px) rotate(180deg);
    }
    63.3%{
        transform: translate(-250px,200px) rotate(180deg);
    }
    66.6%{
        transform: translate(-260px,175px) rotate(315deg);
        
    }
    96.6%{
        transform: translate(-25px,-60px) rotate(315deg);
        
    }
    100%{
       
        transform: translate(10px,-25px) rotate(360deg);


    } */
/* .train{
    width: 50px;
    animation-name: train;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform: translate(10px,-25px) rotate(45deg);

    transform: translate(-25px,-60px) rotate(315deg);
}
@keyframes train{
    0%{
        transform: translate(10px,-25px) rotate(45deg);
        
    }
    30%{
        transform: translate(210px,175px) rotate(45deg);
        
    }
    33.3%{
        transform: translate(150px,200px) rotate(180deg);
    }
    63.3%{
        transform: translate(-250px,200px) rotate(180deg);
    }
    66.6%{
        transform: translate(-260px,175px) rotate(315deg);
        
    }
    96.6%{
        transform: translate(-25px,-60px) rotate(315deg);
        
    }
    100%{
       
        transform: translate(10px,-25px) rotate(360deg);


    } */
/* .train{
    width: 50px;
    animation-name: train;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform: translate(10px,-25px) rotate(45deg);

    transform: translate(-25px,-60px) rotate(315deg);
}
@keyframes train{
    0%{
        transform: translate(10px,-25px) rotate(45deg);
        
    }
    30%{
        transform: translate(210px,175px) rotate(45deg);
        
    }
    33.3%{
        transform: translate(150px,200px) rotate(180deg);
    }
    63.3%{
        transform: translate(-250px,200px) rotate(180deg);
    }
    66.6%{
        transform: translate(-260px,175px) rotate(315deg);
        
    }
    96.6%{
        transform: translate(-25px,-60px) rotate(315deg);
        
    }
    100%{
       
        transform: translate(10px,-25px) rotate(360deg);


    } */
/* .train{
    width: 50px;
    animation-name: train;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform: translate(10px,-25px) rotate(45deg);

    transform: translate(-25px,-60px) rotate(315deg);
}
@keyframes train{
    0%{
        transform: translate(10px,-25px) rotate(45deg);
        
    }
    30%{
        transform: translate(210px,175px) rotate(45deg);
        
    }
    33.3%{
        transform: translate(150px,200px) rotate(180deg);
    }
    63.3%{
        transform: translate(-250px,200px) rotate(180deg);
    }
    66.6%{
        transform: translate(-260px,175px) rotate(315deg);
        
    }
    96.6%{
        transform: translate(-25px,-60px) rotate(315deg);
        
    }
    100%{
       
        transform: translate(10px,-25px) rotate(360deg);


    } */
/* .train{
    width: 50px;
    animation-name: train;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform: translate(10px,-25px) rotate(45deg);

    transform: translate(-25px,-60px) rotate(315deg);
}
@keyframes train{
    0%{
        transform: translate(10px,-25px) rotate(45deg);
        
    }
    30%{
        transform: translate(210px,175px) rotate(45deg);
        
    }
    33.3%{
        transform: translate(150px,200px) rotate(180deg);
    }
    63.3%{
        transform: translate(-250px,200px) rotate(180deg);
    }
    66.6%{
        transform: translate(-260px,175px) rotate(315deg);
        
    }
    96.6%{
        transform: translate(-25px,-60px) rotate(315deg);
        
    }
    100%{
       
        transform: translate(10px,-25px) rotate(360deg);


    } */
/* .train{
    width: 50px;
    animation-name: train;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform: translate(10px,-25px) rotate(45deg);

    transform: translate(-25px,-60px) rotate(315deg);
}
@keyframes train{
    0%{
        transform: translate(10px,-25px) rotate(45deg);
        
    }
    30%{
        transform: translate(210px,175px) rotate(45deg);
        
    }
    33.3%{
        transform: translate(150px,200px) rotate(180deg);
    }
    63.3%{
        transform: translate(-250px,200px) rotate(180deg);
    }
    66.6%{
        transform: translate(-260px,175px) rotate(315deg);
        
    }
    96.6%{
        transform: translate(-25px,-60px) rotate(315deg);
        
    }
    100%{
       
        transform: translate(10px,-25px) rotate(360deg);


    } */
/* .train{
    width: 50px;
    animation-name: train;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform: translate(10px,-25px) rotate(45deg);

    transform: translate(-25px,-60px) rotate(315deg);
}
@keyframes train{
    0%{
        transform: translate(10px,-25px) rotate(45deg);
        
    }
    30%{
        transform: translate(210px,175px) rotate(45deg);
        
    }
    33.3%{
        transform: translate(150px,200px) rotate(180deg);
    }
    63.3%{
        transform: translate(-250px,200px) rotate(180deg);
    }
    66.6%{
        transform: translate(-260px,175px) rotate(315deg);
        
    }
    96.6%{
        transform: translate(-25px,-60px) rotate(315deg);
        
    }
    100%{
       
        transform: translate(10px,-25px) rotate(360deg);


    } */
/* .train{
    width: 50px;
    animation-name: train;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform: translate(10px,-25px) rotate(45deg);

    transform: translate(-25px,-60px) rotate(315deg);
}
@keyframes train{
    0%{
        transform: translate(10px,-25px) rotate(45deg);
        
    }
    30%{
        transform: translate(210px,175px) rotate(45deg);
        
    }
    33.3%{
        transform: translate(150px,200px) rotate(180deg);
    }
    63.3%{
        transform: translate(-250px,200px) rotate(180deg);
    }
    66.6%{
        transform: translate(-260px,175px) rotate(315deg);
        
    }
    96.6%{
        transform: translate(-25px,-60px) rotate(315deg);
        
    }
    100%{
       
        transform: translate(10px,-25px) rotate(360deg);


    } */
/* .train{
    width: 50px;
    animation-name: train;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform: translate(10px,-25px) rotate(45deg);

    transform: translate(-25px,-60px) rotate(315deg);
}
@keyframes train{
    0%{
        transform: translate(10px,-25px) rotate(45deg);
        
    }
    30%{
        transform: translate(210px,175px) rotate(45deg);
        
    }
    33.3%{
        transform: translate(150px,200px) rotate(180deg);
    }
    63.3%{
        transform: translate(-250px,200px) rotate(180deg);
    }
    66.6%{
        transform: translate(-260px,175px) rotate(315deg);
        
    }
    96.6%{
        transform: translate(-25px,-60px) rotate(315deg);
        
    }
    100%{
       
        transform: translate(10px,-25px) rotate(360deg);


    } */
/* .train{
    width: 50px;
    animation-name: train;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform: translate(10px,-25px) rotate(45deg);

    transform: translate(-25px,-60px) rotate(315deg);
}
@keyframes train{
    0%{
        transform: translate(10px,-25px) rotate(45deg);
        
    }
    30%{
        transform: translate(210px,175px) rotate(45deg);
        
    }
    33.3%{
        transform: translate(150px,200px) rotate(180deg);
    }
    63.3%{
        transform: translate(-250px,200px) rotate(180deg);
    }
    66.6%{
        transform: translate(-260px,175px) rotate(315deg);
        
    }
    96.6%{
        transform: translate(-25px,-60px) rotate(315deg);
        
    }
    100%{
       
        transform: translate(10px,-25px) rotate(360deg);


    } */
/* .train{
    width: 50px;
    animation-name: train;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform: translate(10px,-25px) rotate(45deg);

    transform: translate(-25px,-60px) rotate(315deg);
}
@keyframes train{
    0%{
        transform: translate(10px,-25px) rotate(45deg);
        
    }
    30%{
        transform: translate(210px,175px) rotate(45deg);
        
    }
    33.3%{
        transform: translate(150px,200px) rotate(180deg);
    }
    63.3%{
        transform: translate(-250px,200px) rotate(180deg);
    }
    66.6%{
        transform: translate(-260px,175px) rotate(315deg);
        
    }
    96.6%{
        transform: translate(-25px,-60px) rotate(315deg);
        
    }
    100%{
       
        transform: translate(10px,-25px) rotate(360deg);


    } */
/* .train{
    width: 50px;
    animation-name: train;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform: translate(10px,-25px) rotate(45deg);

    transform: translate(-25px,-60px) rotate(315deg);
}
@keyframes train{
    0%{
        transform: translate(10px,-25px) rotate(45deg);
        
    }
    30%{
        transform: translate(210px,175px) rotate(45deg);
        
    }
    33.3%{
        transform: translate(150px,200px) rotate(180deg);
    }
    63.3%{
        transform: translate(-250px,200px) rotate(180deg);
    }
    66.6%{
        transform: translate(-260px,175px) rotate(315deg);
        
    }
    96.6%{
        transform: translate(-25px,-60px) rotate(315deg);
        
    }
    100%{
       
        transform: translate(10px,-25px) rotate(360deg);


    } */
    /* 50%{
        transform: translate(0px,250px);
    }
    75%{
        transform: translate(-250px,0px);
    }
    100%{
        transform: translate();
    } */




















































     .train {
width: 50px;
animation-name: train;
animation-duration: 13s;
animation-iteration-count: infinite;
transform: translate(10px,-25px) rotate(45deg);

}
@keyframes train{
    0%{
        transform: translate(10px,-25px) rotate(45deg);
    }
    30%{
        transform: translate(210px,175px) rotate(45deg);
        
    }
    33.3%{
        transform: translate(210px,200px) rotate(180deg);
        
    }
    63.3%{
        transform: translate(-200px,200px) rotate(180deg);
        
    }
    66.6%{
        
        transform: translate(-260px,175px) rotate(314deg);
    }
    96.3%{
        transform: translate(-60px,-25px) rotate(314deg);

    }
    100%{
        
        transform: translate(-25px,10px) rotate(360deg);
    }
}




.romb{
    height: 200px;
    width: 200px;
  margin-top: 250px;
  margin-left:-135px;
  
}
.train_1{
    width: 50px;
    animation-name: train_1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    transform: translate(0px,-50px);
}
@keyframes train_1{
    0%{
        transform: translate(0px,-50px);
    }
    24%{
        transform: translate(150px,-50px) rotate(0deg);
    }
    48%{
        transform: translate(200px,-50px) rotate(90deg);
    }
    52%{
        transform: translate(200px,150px) rotate(90deg);
    }
    73%{
        transform: translate(200px,200px) rotate(180deg);
    }
   75%{
        transform: translate(0px,200px) rotate(180deg);
    }
    76%{
        transform: translate(-50px,200px) rotate(270deg);
    }
    96%{
        transform: translate(-50px,200px) rotate(270deg);   
    }
    100%{
        transform: translate(-50px,0px) rotate(270deg);

    }
}

 .container {
    background: chocolate;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
}
.left {
    width: 20%;
    height: 100vh;
    background: cornflowerblue;
}
.right {
    width: 20%;
    height: 100vh;
    background: cornflowerblue;
}
.boll {
    width: 10vw;
    height: 10vw;
    border-radius: 100%;
    background: crimson;
    animation-name: boll;
    animation-duration: 10s;
    animation-iteration-count: infinite;

    transform: translate(-25vw,0);
}

@keyframes boll{
    0%{
        transform: translate(-25vw,0);
    }
    15%{
        transform: translate(25vw,10vh);
        
    }
    29%{
        box-shadow: 0px 0px 0px;

    }
    30%{
        transform: translate(-25vw,25vh);
    }
    45%{
       transform: translate(25vw,40vh);
      border: transparent;
    } 
    59%{
        box-shadow: 0px 0px 0px rgba(245, 217, 3, 0.993);
        border: transparent;
    } 
    60%{
        transform: translate(-25vw,55vh);
        box-shadow: 5px -6px 9px rgba(255, 255, 37, 0.999) ;
        border-left: 8px solid rgba(255, 17, 17,1); 
    } 
   
    75%{
        transform: translate(25vw,70vh);
    } 
   88%{
       transform: translate(-25vw,85vh);
       
     
    }
    89%{
        box-shadow: 0px 0px 0px gold;

    }
    
    100%{
        box-shadow: 0px 0px 125px  gold;
       transform: translate(25vw,100vh);

   }
} 



