.contaier{
    background: rgb(33, 128, 57);
    width: 100%;
    height: 100px;
}

.custom {
    /* position: absolute; */
   /*  z-index: -1; */
   position: absolute;
    opacity: 0;
    width: 20px;
    height: 20px;
}
.custom+label {

    user-select: none;
}
.custom +label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid rgb(255, 255, 255);
    margin:  0 10px 0 0;
    cursor: pointer;

}
.custom:not(:checked)+label:hover:before {
background:white;
}
.custom:checked+label:before{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('./img/vector.png') 1px no-repeat ;
}

/* -------------------------- */
.con_terms_condi{
    background: cyan;
   height: 514px;
   width: 324px;
   display: flex;
}
.input_chek{
    position: absolute;
    transform: translate(-4px,-4px);
    width: 22px;
    height: 22px;
    opacity:0; 
 
    cursor: pointer;
}
.input_chek+label{
  user-select: none;  
}
.input_chek+label::before{
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid rgb(255, 255, 255);
    margin:  0 20px 0 0;
 
}
.con_terms_condi p{
    height: 20px;
    color: #434343;
    font-size: 14px; 
}
.label::before{ 
}
.input_chek:checked+label:before{
    transition: all .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('./img/vector.png') 1px no-repeat ;
}
.input_chek:checked:hover+label::before{
  
    background: url(./img/vector_1.png).png) 1px no-repeat;
}




.con{
    height: 100px;
    background: turquoise;
}

.p_con:hover{
    color: rgba(255, 255, 255, 0.41 ) ;
    cursor: pointer;
}
.p_con:hover span{
    color: green;
}

.p_con:hover:last-child span{
    color: red;
}

/* .p_con p:nth-child(1){
    color:#FFFFFF;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
}
.p_con p:hover{
    color: rgba(258, 258, 258, 0.41);  
}
.p_con:hover span {
color: green;
}
.p_con p:nth-child(2){
    color:#FFFFFF;
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;
}
.p_con p:hover {
   color:rgb(255, 255, 255);

}
 .p_con:hover span{
    color: red;
} */


.name_1 {
    background: green;
    position: absolute;
    top: 100px;
    left: 100px;
}
.name_1::before {
background: greenyellow;
width: 30px;
height: 30px;
border: 2px solid black;
content: '<h1>Hello</h1>';
}
.name_1::after{
    background: grey;
    width: 40px;
    position:absolute;
   
    height: 40px;
    content:'book' ;
  margin-left: 30px;
  transform: translate(100px,100px);
}
.name_2{
    background-color: mediumvioletred;
    height: 100px;
    width: 100px;
    position: fixed;
    font-size: 24px;
    top:180px;
   left: 300px;
}

.name_2::after{
    background-color: khaki;
    height: 50px;
    width: 100px;
    text-align: center;
    font-size: 24px;
    content: 'fuggi';
    border: 1px solid #000;
position: absolute;
top: 200px;
right: 34px;
}
.name_2::before{
    background-color: firebrick;
    height: 55px;
    width: 140px;
    font-size: 24px;
    content: 'first_change';
   text-align: center;
    position: absolute;
    top: 105px;
    right: 25px;
}
