@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@300;400;700&display=swap');

p,
a,
div,
h1,
h2,
h3,
h4,
button {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
}

body {
    margin: 0;
    font-family: 'Arimo', sans-serif;
    height: 100vh;
    width: 100vw;
}

.table_border {
    width: 100%;
    height: 100%;
    border: 26px solid #3A4965;
    
}

td {
    text-align: center;
    color: #484848;
    border: 1px solid #E3E3E3;
}

/* -----------\------------- */
.cotGlobal_data {
    height: 23%;
}

.global_box {
    background: #FAFAFA;
    width: 28%;
    text-transform: uppercase;
    color: #484848;
    font-weight: 700;
}

.container_box.global_box p:nth-child(1) {
    font-size: 113%;
}

.container_box.global_box p:nth-child(2) {

    font-size: 180%;
    margin-top: 2px;
}

.boxs .disp {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.boxs .disp img {
    margin-right: 4.5px;
}

.boxs .disp p {
    height: 24px;
    display: flex;
    align-items: flex-end;
}

/* ----------------------------- */
.container_box {
    width: 24%;
    padding: 0;
}
.triplex {
    border: none;
    width: 23%;
    
}
.triplex p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: bold;
}

.triplex p:nth-child(1) {
    font-size: 24px;
    height: 45%;
    min-height: 73px;
    color: #ffffff;
}

.triplex p:nth-child(2) {
    min-height: 89px;
    background: #FAFAFA;
    height: 55%;
    font-size: 60px;
    color: #484848;

}

.triplex span {
    transform: translate(0px, -27px);
    font-size: 24px;
   
}

span.rep {
    height: 20px;
    display: flex;
    font-family: 'Arimo', sans-serif;
    transform: translate(-26px,-2px);
    justify-content: center;
    align-items: flex-end;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
}
.green_triplex {
    background: #89C331;

}

.ulim_triplex {
    background: #F04A56;
}

.prem_triplex {
    background: #20807C;
}

/* -----------------/---------------- */
.boxs {
    height: 9.5%;
    width: 100%;
    text-transform: uppercase;
}

.back_light_gray {
    background: #F2F2F2;
   
   
}

.back_gray {
    background: #E3E3E3;
}

.contButton {
    height: 27%;
}

.contButton button {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
    width: 74%;
    border-radius: 5px;
    height: 49%;
    min-height: 54px;
}

.backBtn_1 {
    background: #DDDDDD;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.27);

}

.backBtn_1 button {
    background: linear-gradient(to bottom, rgba(72, 72, 72, 1) 0%, rgba(72, 72, 72, 1) 83%, rgba(64, 64, 64, 1) 84%, rgba(64, 64, 64, 1) 98%);
   
 
}

.backBtn_2 {
    background: #EEEEEE;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.27);
}

.backBtn_2 button {
 background: linear-gradient(to bottom, rgba(137, 195, 49, 1) 0%, rgba(137, 195, 49, 1) 80%, rgba(121, 176, 39, 1) 80%, rgba(121, 176, 39, 1) 100%, rgba(72, 72, 72, 1) 100%, rgba(72, 72, 72, 1) 100%, rgba(121, 176, 39, 1) 100%);
   
   

}

.backBtn_3 {
    background: #F4F4F4;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.27);
}

.backBtn_3 button {
    background: linear-gradient(to bottom, rgba(240, 74, 86, 1) 0%, rgba(240, 74, 86, 1) 79%, rgba(223, 58, 70, 1) 79%, rgba(223, 58, 70, 1) 79%, rgba(240, 74, 86, 1) 79%, rgba(223, 58, 70, 1) 79%, rgba(223, 58, 70, 1) 100%, rgba(121, 176, 39, 1) 100%, rgba(72, 72, 72, 1) 100%, rgba(72, 72, 72, 1) 100%);

}

.backBtn_4 {
    background: #EEEEEE;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.27);
}

.backBtn_4 button {
    background: linear-gradient(to bottom, rgba(32, 128, 124, 1) 0%, rgba(32, 128, 124, 1) 76%, rgba(22, 115, 111, 1) 76%, rgba(22, 115, 111, 1) 77%, rgba(22, 115, 111, 1) 100%, rgba(223, 58, 70, 1) 100%, rgba(121, 176, 39, 1) 100%, rgba(72, 72, 72, 1) 100%, rgba(22, 115, 111, 1) 100%, rgba(22, 115, 111, 1) 100%);
  

}

td p {
    color: #484848;
}

table {
    border-collapse: collapse;
}





.mate_rep {
    border-left: 1px solid #E3E3E3;
}