body {
    margin: 0 7.6%;

}

h1 {
    margin: 0;
}


.header_top {
    margin: 63px 0 38px 0;
    color: rgba(0, 212, 240, 0.404);

}

.color_black {
    color: black;
}

.nav-mein {
    display: flex;
    height: 72px;
    align-items: center;
    justify-content: center;
    background: #35444F;

}

.header_a {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    height: 100%;
    border-right: 1px solid white;
    display: flex;
    align-items: center;
    padding: 0 2.8vw;
    transition: background .3s;
}

.header_a.a_1 {
    border-left: 1px solid white;
}

.header_a:hover {
    background: #222F3A;
}

main {

    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}

.container_main_left {
    height: 7.5%;
    width: 28%;
    border: 1px solid #000000;
    color: #495863;
    display: flex;
    flex-direction: column;
}

.container_main_left button {
    border: none;
    color: #495863;
    font-size: 27px;
    text-align: left;
    padding: 26px 0 26px 12.7%;
    background: white;
    transition: all .3s;

}

.container_img {
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    padding: 14% 0;

}

.img {
    width: 36.1%;
}





.container_main_left button:hover {
    background: #DBDBDB;
    color: #35444F;
    padding: 26px 0 26px 25%;


}


.container_main_rigth {
    width: 67%;

}

footer {
    background: rgba(99, 105, 110, 0.48);
    color: #63696E 48%;
    height: 69px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 51px 0 30px 0;

    font-size: 1.8vw;
}

.container_button_footer {
    height: 100%;
}

.btn_footer {
    color: #0C1927;
    border: none;
    margin-top: 16px;
    background: transparent;
    height: 40px;
}

.btn_footer:hover {
    color: rgb(82, 150, 206);
    margin-top: 11px;
    padding-bottom: 5px;

    border-bottom: 1px solid rgb(82, 150, 206);
}

footer p {
    color: #010101;
}