@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

p,
a,
div,
h1,
h2,
h3,
h4,
button {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
}

body {
    background: url(./img/background_body.png) 0 0 / 100% 100% no-repeat;
    height: 100vh;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    position: fixed;
    top: 0;
    width: 90%;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 58px;
    display: flex;
    justify-content: space-between;
    padding: 0 79px;
}

header h2 {
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 22px;
    color: #ffffff;
    cursor: pointer;
    transition: all .3s;
}
header h2:hover{
    color:  #01813F;
}

.header_cont_right {
    display: flex;
    align-items: center;
}

.header_cont_left_svg {
    height: 23.25px;
    width: 170px;
    display: flex;
    justify-content: space-evenly;
    border-right: 1px solid rgba(255, 255, 250, .5);
}

.header_cont_right {
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    
}
.header_cont_right a:nth-child(1) {
    margin: 0 4px 0 27px;
    text-decoration: none;
    color: #ffffff;
}
.anim_h a{
    transition: all .3s;
}
.anim_h a:hover{
    color: rgba(255, 255, 255, .41);
}

.anim_h a span{
    transition: all .3s;
}
.anim_h a:hover span{ 
    color:#01813F;
}

.header_cont_left_svg svg path{
    transition: all .3s;
}
.header_cont_left_svg svg:hover path{
    fill:#01813F;
}

/* header End */


/* defolt css */

.flex_beetwen {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
}

.mar_bot_15 {
    margin-bottom: 15px;
}

/* defolt css */
main {
    width: 324px;
    height: 514px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 31px 60px 39px 60px;
    position: relative;
}

.box_green {
    height: 18px;
    width: 18px;
    background: #3CB878;
    position: absolute;
    left: 0;
}


.singUp {
    color: #434343;
    font-size: 20px;
    text-decoration: none;
}

.LogIn {
    color: #3CB878;
    font-size: 14px;
    transition: all .3s;
}
.LogIn:hover{
    text-decoration: underline;
    color: #3CB878;
}

.social_cont {
    height: 48px;
    width: 160px;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #FFFFFF;

}

.social_cont:nth-child(1) {
    background: #305DB8;
    justify-content: space-evenly;
    transition: all .3s;
}
.social_cont:hover:nth-child(1){
    background: #022263;
    cursor: pointer;
}

.social_cont:nth-child(2) {
    background: #DF4A32;
    justify-content: space-around;
    transition: all .3s;
}
.social_cont:hover:nth-child(2){
    background: #AB1F09;
    cursor: pointer;
}

.con_line {
    height: 1px;
    display: flex;
    justify-content: center;
    margin: 31px 0 16px 0;
    background: #F2F2F2;

}

.con_line p {
    background: white;
    padding: 0 10px;
    height: 20px;
    transform: translateY(-10px)
}

.input_f {
    height: 44px;
    padding: 0 0 0 19px;
    color: #434343;
    font-size: 14px;
    border-radius: 4px;
    margin-bottom: 15px;
    border: 1px solid #F2F2F2;
    transition: all .3s;
}
.input_f:hover{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
.input_f:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    
}
.input_f::placeholder {
    color: #BEBEBE;
}


.input_chek{
    position: absolute;
    width: 22px;
    height: 22px;
    opacity: 0;
    cursor: pointer;
    transform:translate(-4px,-2px);
   
}

.input_chek+label {
    user-select: none;
}

.input_chek+label:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
}

.input_chek:checked:hover+label:before {
    background:url('./img/vector_1.png') 1px no-repeat;
}

.input_chek:checked+label:before{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('./img/vector.png') 1px no-repeat;
}


.con_terms_condi {
    height: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.con_terms_condi p {
    height: 20px;
    color: #434343;
    font-size: 14px;
    margin-left: 11px;
}

.green {
    color: #3CB878;
    transition: all .3s;
}
.green:hover{
    color: #01813F;
    text-decoration: underline;
    cursor: pointer;
}

.agree button {
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    height: 46px;
    width: 324px;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 20px;
    transition: all .3s;
}
.agree button:hover{
    background: #01813F;
    cursor: pointer;
}