body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: indianred;
}
.global_green_red{
    width: 100%;
    height: 100%;
    border: 26px solid  blue;
}
.box_1{
    background: chartreuse;
    height: 24%;
}
.box_green{
    background: cyan;
}
.box_2{
    background: gainsboro;
    height: 10.5%;
}
.box_3{
    background: ghostwhite;
    height: 10.5%;
}





















.box_8{
    background: rgb(66, 11, 40);
    height: 19%;
}
