body {
    margin:0;
    font-family: Montserrat;
}

header{
    width:100%;
    display: flex;
    justify-content: center;
    height: 78px;
    align-items: center;
}
.main-nav {
    min-width: 348px;
    width: 50%;
    display: flex;
    justify-content:space-between;
}
.main-nav a{
    font-weight: bold;
    font-size: 18px;
    color: #FF0000;
    text-decoration: none;
}

.img{
width:100%;
}
.first {
    margin: 0 5%;
}
.title {
    text-align: center;
}
.title-line{
    text-align: center;
  
font-weight: bold;
font-size: 12px;
letter-spacing: 1.8px;
}



.container_start_button {
    display: flex;
    justify-content:center;
    margin: 66px 0 82px 0;
}
.get_start{
     font-weight: bold;
     font-size: 12px;
     letter-spacing: 1.8px;
     color: #FFFFFF;
     padding:18px 42px 18px 42px;
      background: #FF0000;
    border-radius: 4px;
}

footer{
    
    text-align:right;
   
    margin:0 5% 29px 0;
} 
.footer_bottom_text_rigth{
        text-decoration: none;       
        font-weight: bold;
        color: #373737;
        
    }

    
    
    
    
    
    
    

    
    
    
    
    
    

    




