.asd {
    color: #2fdfd3;
    /* цвет текста */
    font-size: 24px;
    /* размер шрифта */
    /* px % em    */
    font-weight: 900;  /*100 -900*/
     /* жирность текста */
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* семья шрифта */
    background-color:antiquewhite;
    /* фон елемента */
    letter-spacing: -1px;
    /* ростояние от буквы до буквы */
    width: 100px;
    height: 45px;
    border: 3px solid black ;
    /* размер линии,
    тип линии(сплашная,пунктир,двойная)
    цвет линии */

    border-bottom: 8px dashed green;
    border-right: 7px solid red;

    /* margin-внешний оступ (фактиыческое перемищение блока) */
    /* padding:- внутринний отступ(фактическое увилечение блока); */
}
     /* 
 margin - 4 arg -первый аргумент верх низ лево и право
 margin - 2 arg -каждя цифра отвечает за дае стороны
 margin - 1 arg - одна цифра отвечает за все стороны
 */
    /* h1-имеет дефолтное свойство(padding:21px;) */
    
/* пример:вычисление % контента(1280px-это 100%ширина котента) */
/* делим 100% на ширину и умножаем на нужное значение в макете. */
/* hover момент мышки попадание на тег */
 /* transition-задает время измению стиля */

 
 /* flex   ширина идет (по контенту) а высота height:100% по дефолту */
 /* ------- ----- -------- */
/* block    * height: 10px; равно font-size: выбранной высоты измерения   */
    /* а высота равна выбраному font-size: ...; */
       
 /*это стилть каторый отвечает за полосу прокпута */
    /* по дефолту текст выхидить за рамки */
    /* в кубике появиться скрол можно читать текст -overflow: scroll*/
    /* при значении overflow:hidden не будет скрола и возможности листать содержимое 
    но текст не выйдет за рамки блока
    */
/* animation-это перехо от одной конфигурации стилей css в другой
изменение одного и товоже стиля за определённый промежуток времени */
/* calc-это функция подщёта разных едениц измерения */
/* 






