body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

/* 
header{
    height: 70px;
  
  background: #313131;
  display: flex;
  justify-content:space-between;
  align-items: center;
}
header div {
    display: flex;
  
}
img{ */


/* } */
/*    
h1{
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;  
} */
/* 
a{
    font-weight: 600;
font-size: 15px;
color: #FFFFFF;
text-align: center;
padding: 0 26px;
}
 img{
    background: black;
    display: flex;
    align-items: center;
}

 h2{
    width:100%;
    display: flex;
    justify-content: space-around;
    margin: 0;
}
 button{ 
    align-items: center;
 } */


/* .container { 
     margin-top: 30px;
     height: 300px;
     border:2px solid chartreuse;
     display: block;
     display: flex; 

    align-items: flex-start; 
     align-items: flex-end;
     align-items: baseline; 
    align-items: center; 
     align-items: stretch; 
  }  */

/* .container .box {
     display: block;
     margin: 3%;
     background: blue;
     color: chartreuse;
     font-size: 15px;
     height: 100%; 
    }

   /* flex  { 
   ширина идет (по контенту) а высота height:100% по дефолту
     } */

/* body{
    margin:25px;
    font-size:15px;
    line-height: 35px;
    color: white;
} */

/* .flex_container{
    width: 100%;
    background-color: aquamarine;
    height: 300px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    display: flex;
    flex-direction: column;
   align-items: flex-start;
   
   
    flex-wrap:wrap;
} */
/* .cont {

display: flex;
flex-direction: column;
justify-content: space-between;

} */
/* .big_box {
   
    flex: 1 80%;
  
}
.box{
    text-align: center;
    flex: 0  10%;
    height: 50px;
    
    
    display: flex;
} */
/* .box_1{
  /* flex: 0 40%; */
/* /* background: red; *   */
/* } */
/* / */
/* .box_4{
 margin: 200px 0 0 0;
    background: mediumspringgreen;
    /* flex: 0 30%; */
/* }
.box_5{
    width:50%;
    background: rgba(255, 0, 255, 0.623);
    /* flex: 1 25%; */
/* }
.box_6{ */
/* width: 60%; */
/* flex: 0 25%; */
/* background: rgba(0, 255, 21, 0.623); */
/* } */
/* .box_7{
    width: 70%;
    /* flex:  0 100%; */
/* background: rgba(145, 255, 0, 0.623);
} */
/* .box_8{ */
/* width: 80%; */
/* flex: 0 75%; */
/* background: rgba(255, 0, 234, 0.623);
}
.box_9{ */
/* width: 90%; */
/* flex: 0 15%; */
/* background: rgba(255, 187, 0, 0.623);
} */








/* 

block    {
display: block;
width: 100%;
font-size: 10px;
/* height: 10px; равно font-size: выбранной высоты измерения  */
/* а высота равна выбраному font-size: ...; */


/* .container .box div {
        background: brown;
    }
     */
/* .container .box .box_4 { */

/* width: 100%;
 } */





 .container_1 {
    background: aquamarine;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

 .container_1 div {
    background: red;
    height: 20%;
    width: 20%;
    margin: 0 2.5%;


}

.box_task_1 {

}

.box_task_2 {
    margin-left: 25% !important;
}

.box_task_3 {
    margin-left: 50% !important;
}

.box_task_4 {
    margin-left: 75% !important;
}

/* --------------------------------- */
.container_box_tr {
    background: aquamarine;
    height: 300px;
    display: flex;
    justify-content: space-between;

}

.container_2 {
    background: rgb(242, 255, 240);
    /* width: 250px; */
    width: 50%;
    display: flex;
    align-items: flex-end;
}

.box_1 {
    background: red;
    width: 15%;
    height: 20%;
    margin: 10px 5px;
}

.box_2 {
    background: red;
    width: 15%;
    height: 20%;
    margin: 10px 5px;
}

.container_tr {
    width: 250px;
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.box_3 {
    height: 20%;
    width: 15%;
    background: red;
    margin: 10px 5px;

}

.box_4 {
    background: red;
    height: 20%;
    width: 15%;
    margin: 10px 5px;

}

/* -------------------------------------------- */
.container_3 {
    background: aquamarine;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.container_3 div {
    background: red;
    width: 20%;
    height: 20%;
}

/* ---------------------------------------  */
.container_4 {
    background-color: teal;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box_box_1 {
    background: tomato;
    width: 20%;
    height: 20%;
}

.box_box_2,
.box_box_4 {
    background: tomato;
    width: 95%;
    height: 20%;
    margin: 10px;
}

.box_box_3 {
    background: tomato;
    width: 40%;
    height: 20%;
}

/* --------------------------------------------------- */
.container_5 {
    background: cyan;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;


}

.cont_5 {
    display: flex;
    justify-content: space-evenly;
    height: 25%;
    width: 100%;
}

.b {
    background: blueviolet;
    width: 20%;
    height: 100%;
}

.boxs_3 {
    background-color: blueviolet;
    width: 15%;
    height: 25%;
}

.boxs_4 {
    width: 85%;
    background-color: blueviolet;
    height: 25%;
}

/* ------------------------------------------------- *




















/* --------------------------------------------- */
/* Grid */


.container_grid {
    background-color: blueviolet;
    width: 100%;
    display: grid;
    /* grid-template-columns: repeat(x, y) ; 
    grid-template-columns: repeat(2, 1fr 2fr) ; 
    x * y
    y y y y 
    repeat()
    grid-template-columns: repeat(3, 1fr 2fr);
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr 2fr;
    */
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-columns: repeat(2, 1fr 1fr); 
    grid-template-columns: repeat(2,1fr);
    
    

}

.container_grid .box {
    margin: 2%;
    background-color: burlywood;

}