body {
    margin: 0;
}

/* display:block; */
/* display:flex; */
/* justify-content:flex-start; */
/* justify-content:flex-end; */
/* justify-content:center; */
/* justify-content:space-between; */
/* justify-content:space-around; */
/* justify-content:space-evenly; */


/* align-items:flex-end; */
/* align-items:flex-start; */
/* align-items:center; */


/* flex-direction: column; */


/* flex-direction:row; */
/* justify-content:space-between; */
/* align-items:center; */

/* display blok-дефрлтный стиль 100% ширины */
/* dislay flex- дефрлтный стиль 100% высота */
/* teg   1  */
/* class 10 */
/* id 100 */
/* !important 1000 */
/* text-transform: uppercase делает текст заглавными буквами */
/* background:   url(ссылка на картинку) (отступ с лева) (отступ с верху) / (ширина)/(высота) (не повтаряетса) */

/* .box.first.tr { */

    /* стучимся к одному тегу у которого сразу два класса ... */
    /* background-color: rgb(49, 184, 49); */
/* } */

/* .box, */
/* .first { */
    /* background-color: blue; */
    /* стучимся  к  двум разным тегам у которого есть клссс .box или .first */
/* } */

/* .box .first { */
    /* background-color: rgb(255, 208, 0); */
    /* стучимся к .fist который  находитса в .box*/
/* } */

/* <div class="container">
<div class="box"></div>
</div>

 <style>
.container {
    width: 300px;
    height: 300px;
    background-color: blue;

    display: grid;
его дочернмй элемент имеет 100% ширину и высоту
    
}
.box {
    width: 40px;
    height: 40px;
    background-color: blueviolet;
}
</style>

<style>
.container {
    width: 300px;
    height: 300px;
    background-color: blue;

    display: flex;

  все элементы идут в ряд имеют высоту 100% и ширина по контенту  
}
.box {
    width: 40px;
    height: 40px;
    background-color: blueviolet;
}
</style>



 
<div class="container">
<div class="box"></div>
</div>

<style>
.container {
    width: 300px;
    height: 300px;
    background-color: blue;

    display: block;
все элименты идут в колоночьку имеют ширину 100% высоту по контенту

}
.box {
    width: 40px;
    height: 40px;
    background-color: blueviolet;
}
</style>
 */
/* transition: all 3s;-это плавность перехода стилей  */

/* Animation-это перехо от одной конфигурации стилей css в другой
изменение одного и товоже стиля за определённый промежуток времени */
/* calc-это функция подщёта разных едениц измерения */
/* 

/!переменная это-именнованое хранилище для данных (let    const)
console.log('hello world!')
console.log(a)
/ специальная команда для того что-бы вывести что угодно в кансоль

/8
/! Number 1 3 66 99... NaN,Infinity -это тип данных (Number)-число.
/? String 'dsd' "gg" `asf`-это тип данных (String) -строка.
/! Boolean false true - это тип данных (boolean) -правда или ложь.
/? undefined;-это тип данных отвечает за то что элемент существует но у него нет значения.
/! null -это тип данных, отвечает что значение не сущиствует.
/? - / * -выполняет две задачи приобразовует значения в Number и cчитает математически. 
/!+ ///+


/*  */
.anim {
    transition: all 3s;
    opacity: .7;
    height: 0;
    background: coral;
    /* transform: translate(0, 10vh) rotate(360deg) matrix(2,1,1,1,1,1); */

    width: 0;
    /* position: absolute;  */
    /* bottom: -10vh; */

}

.container_1:hover .mim {
    transform: rotate(360deg);
    width: 50%;
    height: 40%;
}

/* .mim{
     background:yellow;
     width: 0;
     height: 0;
     transition: all 3s;
     opacity: 1;
     position: absolute;
     top: 35%;
     left: 39%;
     
 } */
.container_1:hover .nin {
    transform: matrix(50%);
    width: 50%;
    height: 45%;
}

.nin {
    background: white;
    height: 0;
    width: 0;
    transition: all 2.5s;
    /* opacity: 1; */
    position: absolute;
    /* bottom: 30%;
     left: 25%; */
}

/* .viv{
      background: red;
      height: 0;
      width: 0;
      opacity: .5;
     transition: all 3s;
     position: absolute;
     bottom: 15%;
     left: 38%;
    }
    .container_1:hover .viv{
        transform: skew(240deg );
     height: 56%;
     width: 37%;
     
 }  */
.container_1 {
    height: 400px;
    width: 100vw;
    background: black;
    cursor: pointer;
    position: relative;
    bottom: 0;
    display: flex;

    align-items: flex-end;
    justify-content: center;
    color: goldenrod;
}

/* .container_1:hover{
        height: 10vh;
        width: 100%;
        
    } */
.orange {
    background: rgb(255, 230, 0);
    color: hotpink;

    transition: all 2s;
    height: 0;
    width: 0;
    display: flex;
    justify-content: space-around;

}

.container_1:hover .orange {
    height: 10vh;
    width: 100%;

}

.orange h2,
.orange p,
div {
    color: hotpink;
    font-size: 0;
    transition: all 2s;
}

.container_1:hover .orange h2,
.container_1:hover .orange p {
    font-size: 23px;
    color: indigo;
}

/* .container_1:hover .orange p{
    font-size: 15px;
} */

.box_container {
    position: fixed;
    width: 300px;
    height: 300px;
    background: firebrick;
    z-index: 3;
    top: 30vh;
    left: 30%;


}

.big_cont {
    position: fixed;
    width: 400px;
    height: 400px;
    background: orange;
    left: 33%;
}

.cont {
    padding: 35px 60px;
    color: greenyellow;
    font-size: 12px;
    top: 33vh;
    left: 45vw;
    position: fixed;
    width: 80px;
    height: 130px;
    background: rgb(124, 30, 30);
    transition: all 3s;
    /* transform: rotateX(180deg);
    крутиться вокруг себя(сальто)
    */
    /* transform: rotateY(180deg);
     карусель */
    /*transform: rotateZ(990deg);
 мельница */
    /* font-size: 30px;
 transform: rotateX(45deg) translate(0,-700px);
  */

}

.elem {
    height: 30px;
    background: olive;
    width: 50%;


}

.box_container .X {
    width: 50px;
    height: 100px;
    background: fuchsia;
    position: absolute;
    bottom: 50px;
    left: 50px;
    z-index: 2;
}

.box_container .X2 {
    width: 50px;
    height: 100px;
    background: rgb(0, 255, 115);
    position: absolute;
    bottom: 75px;
    left: 75px;
}


/* ---------- ------  --------- */



/* 

px  - фиксированый розмер
em - 1em=16px; фиксированый размер
vh - соотношения высто просмотра браузера 
(100vh -вся высота браузера)
(50vh -половина высоты браузера)
vh - соотношения высто просмотра браузера 
(100vw -вся ширина браузера)
(50vw -половина ширины браузера)
% - гибкая единица измирения по отношению к родителю
*/

/* border-это рамочка вокруг блока */
/* три значения : толщина тип рамочки цвет
 border:10px ridge red ;
*/

 /* rgba
    rgb принимает значения от 0 до 255 
    a принимает значения от 0 до 1
    */







.container {
    width: 80vw;
    height: 500px;
    background: grey;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.elem {
    height: 30%;
    width: 100%;
    background: hotpink;
    display: flex;
    justify-content: space-between;
}

.text {
    width: 30%;

    background: indianred;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.box {
    width: 100%;
    height: 30%;
    background:darkturquoise;
}

.elem1 .text2 {
    align-items: center;
    justify-content: center;
}
.elem1 .text2 .box{
    width: 50%;
    background: coral;
}

.elem2 .text1 {
flex-direction: row;
}
.elem2 .text1 .box{
    width: 30%;
    height: 100%;
    background: rgb(59, 14, 23);
}
.elem2 .text2{
   flex-direction: row;
   justify-content: space-around;
}
.elem2 .text2 .box{
    background: chartreuse;
    width: 30%;
    height: 100%;
}
.elem2 .text3{
    flex-direction: row;
    justify-content: space-evenly;
}
.elem2 .text3 .box{
    background: darkgreen;
    width: 30%;
    height: 100%;
}
.elem3 .text1{
flex-direction: column;
justify-content: flex-end;

}
.elem3 .text1 .box{
    background: rgb(92, 81, 92);
    width: 100%;
    height: 30%;
    margin: 0 0 5px 0;
}
.elem3 .text2{
flex-direction: column;
justify-content: center;
}
.elem3 .text2 .box{
    background: rgb(129, 82, 129);
    width: 100%;
    height: 30%;
    margin:0 0 5px 0;
}
.elem3 .text3{
flex-direction: column;
justify-content: flex-start;
}
.elem3 .text3 .box{
    background: mediumorchid;
    width: 100%;
    height: 30%;
  margin:0 0 5px 0;
}
/* .elem3.elem .text1.text{
    width: 171px;
    display: flex;
    justify-content: flex-end;
}
.text1.text .box1.box{
    width: 171px;
    border:4px solid;
} */
/* ---------------------- */
/* .elem3.elem .text3.text{
    width: 171px;
    display: flex;
    justify-content: flex-start;
}
 .text3.text .box2.box{
    width: 171px;
    border: 4px solid;
} */

/* ---------------------- */
/* .elem3.elem .text2.text{
   width: 171px;
   display: flex;
justify-content: center;
}
.text2.text .box2.box{
    width: 171px;
   border: 4px solid;
} */
  /* ------------------- */
/*   
 .elem2.elem{
   
    
 } 
 .elem2.elem .box1.box{
     background: chartreuse;
    height: 171px;
    width: 30px;
      
 }
 

.elem2.elem .box2.box{
    height: 171px;
    width: 30px;
    display: flex;
    flex-direction: column;
  justify-content: center;
    
} */