@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@300;400;700&display=swap');

* {
    margin: 0;
    border-collapse: collapse;
    padding: 0;
    border: none;
    text-decoration: none;
}

body {
    background: #FAFAFA;
    font-family: 'Arimo', sans-serif;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.cont_table {
    border: 28px solid#3A4965;
    height: 100%;
    width: 100%;
}

tr {
    width: 100%;
    height: 25%;
}

td {
    color: #484848;
    align-items: center;
}

.plan {
    height: 17.5%;
}

.plan td {
    border-bottom: 14px solid #3A4965;
    width: 13.5%;
}

td.first_plan {
    width: 16.5%;
    font-weight: bold;
    background: #FAFAFA;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.27);
    text-align: center;
}

.first_plan p:nth-child(1) {
    font-size: 14px;
    color: #484848;
}

.first_plan p:nth-child(2) {
    font-size: 20px;
    color: #484848;
    margin-top: 2px;
}

tr td:nth-child(2),
tr td:nth-child(4),
tr td:nth-child(6) {
    background: #E3E3E3;
}

tr td:nth-child(3) 
tr td:nth-child(5)
 tr td:nth-child(7) {
    background: #F2F2F2;
}

td {
    text-align: center;
    font-size: 16px;
}

.plan p {
    font-size: 24px;
    font-weight: normal;
    margin-top: 2px;
}
.boxs p{
   font-family: FontAwesome; 
}

.combine {
    height: 16px;
    display: flex;
    justify-content: center;
}
.border_bi {
    border-bottom: 1px solid #b8b8b8; 
}
.border_bi p{
    text-transform: uppercase;
}

/* ---------------\------------------- */
.dart_salad {
    background: #89C331;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
}
.dart_salad p{
    font-size: 24px;
}
.line_p {
    display: flex;
    margin-left: 16px;
 }

.line_p p:nth-child(1){
    font-size: 36px;
}
.line_p p:nth-child(2){
    font-size: 18px;
  
}
.line_p p:nth-child(3){
    display: flex;
    font-size: 14px;
    height: 16px;
    transform: translate(5px,11px) ;
}

/* ---------\-----------\-------- */

.etam_rous {
    background: #F04A56;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
}
.etam_rous p{
    font-size: 24px;
}


/* ------\------\------\-------- */
.pren p{
    text-transform: uppercase;
}
.pren_cool {
    background: #20807C;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
}
.pren_cool p{
    font-size: 24px;
}

.cool_button{
    height: 23.6%;
    width:74.24%;
    background: linear-gradient(to bottom,  rgba(52,52,52,1) 1%,rgba(72,72,72,1) 82%,rgba(72,72,72,1) 82%,rgba(72,72,72,1) 82%,rgba(0,0,0,1) 83%,rgba(0,0,0,1) 83%,rgba(52,52,52,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#343434', endColorstr='#343434',GradientType=0 ); /* IE6-9 */
    border-radius: 5px ;
    text-transform: uppercase;
    margin-top: 11px;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}


