@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
body,
h1 {
  margin: 0;
  font-family: "Open Sans", sans-serif;

}
header {
  height: 70px;
  width: 100vw;
  background: #313131;
  display: flex;
  justify-content: space-between;
}

.contaier_logo {
  margin-left: 2.5%;
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.0001);
}
.contaier_logo h1 {
  color: #ffffff;
  margin: 0 0 0 27px;
}

.main_nav_top {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40vw;

}
.main_nav_top a {
  text-transform: uppercase;
  font-size: 15px;
  color: #ffffff;
  margin: 0 2%;
  font-weight: 600;
  text-decoration: none;
}

.container_search {
  background: black;
  display: flex;
  align-items: center;
  padding: 0 26px;
}

.main_nav_top a:hover {
  color: #14b9d5;
  transition: all 0.3s;
}

.img-container {
  background: url("./img/header/header-bg.jpeg") 0 -524px / 100% 1234px no-repeat;
  height: 369px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-container h2 {
  margin: 0;
  color: #ffffff;
  font-size: 27px;
  font-weight: 700;
  margin: 157px 0 44px 0;
}
.button_header {
  display: flex;
  justify-content: center;
}
.button_header button {
  margin: 2px 10px;
  padding: 18px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  border-radius: 4px;
  background: #89ca62;
  border: none;
}

button.butoon_header_right {
  background: #14b9d5;
}

.global_most_popular{
 display: grid;
 background: #F2F2F2;
 padding-bottom: 72px;
}

.global_most_popular h3{
  justify-self: center;
  color: #18b4cf;
  font-size: 27px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 49px 52px;  
}
.global_most_popular h3:hover{
  text-decoration: underline;
}

.container_most_popular_img{
  max-width: 1170px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: auto;
  grid-column-gap:30px;
  justify-self:  center;  
  text-align: center;
  align-items: start;
}

.current_container_most_popular {
  grid-row-gap:30px; 
  display: grid;
  grid-template-columns: 1fr;
}

.most_populat_container p {
  font-weight: 700;
  padding: 15px 0 20px 0;
  margin: 0;
  text-align: center;
  background-color: white;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
  color: #353a3d;
  font-size: 18px;
  }

.cont_img {
  max-width: 370px;
}

.cont_img img {
 width: 100%;
}

.parallax_img {
  background: url("./img/parallax-bg.jpeg") 0 -100px /100% 1100px;
  height: 588px;
  display: grid; 
  justify-items: center;
}

.parallax_img h2{
color:#FFFFFF;
  font-size: 32px;
  font-weight:700;
  text-transform: uppercase;
  margin: 106px 0 87px 0;
}

.line_parallax {
  width: 60px;
  height: 3px;
  background: #18b4cf;
  margin-bottom: 106px;
  display: grid;
}
.parallax_img_box {
  width: 100%;
  max-width: 881px;
  display: grid;
  grid-template-columns: 207px 135px 232px 141px;
  align-items: center;
  margin-bottom: 191px;
  justify-content: space-between;
}

.latest_post{
    color: #18B4CF;
    text-transform: uppercase;
    display: grid;
  }
  .latest_post h5{
    margin: 0;
    font-size: 27px;
    font-weight: bold;
    padding: 51px 0;
    display: grid;
    justify-self: center; 
  }
  .latest_post h5:hover{
    text-decoration:underline;
  }
  .latest_img{
    width: 100vw;
    display: grid;
    grid-template-columns:repeat(7,1fr);
    overflow: hidden;
}
img.iten{
   width: 14.28vw;
}

.global_max_news{
  background: rgba(0, 0, 0, 0.0001);
  display: grid;
  justify-content: center;
}

.gloval_news{
  width: 100%;
  max-width: 1168px;
  display: grid;
}

.global_hot_news h2{
    color: #18B4CF;
    font-size: 27px;
    font-weight: bold;
    text-align: center;
    margin: 49px 0 51px 0;
  }
  .global_hot_news h2:hover{
    text-decoration: underline;
  }
 
  .hot_news_container_first {
    display: grid;
    grid-template-columns:repeat(3,1fr);
    margin-bottom: 44px; 
  }
  
  .hot_news_first_text {
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    width: 348px;
    text-align: right;
    padding:41px 24px 0 2px;
    margin: 0 35px 0 0;
  }
  .hot_news_first_text h3{
    color: #353A3D;
    font-weight: bold;
    font-size: 18px;
    margin: 0 0 14.5px 0;
}

.hot_news_first_text p{
  color: #5B6469; 
    font-size: 14px;
    font-weight: 600;
    margin: 0;   
}

.hot_news_first_lastImg {
  height: 210px;
  color:#000000 ;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
 display: grid;
}

.hot_news_first_lastImg img{
  width: 277px;
}

.hot_news_first_lastImg h4{
  font-weight: bold;
  text-align: center;
  color: #353A3D;
  background: rgba(0, 0, 0, 0.05);
  padding: 14px 0 11px 0 ;
  margin: 0;  
}

.global_container_news{
  display: grid;
  grid-template-columns:repeat(2,1fr);
 grid-column-gap:60px;
 grid-row-gap:43px;
}
.item_news{
  max-width: 554px;
  justify-self: center;
  background: #F9F7F7;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}
.item_news h2{
    color: #353A3D;
    font-size: 18px;
    font-weight: bold;
    padding: 0 26px 7px 0;
    text-align: right;   
    margin: 0;

}
.item_news p{
   color: #5B6469;
    font-size: 14px;
    font-weight: 600;
    text-align: right;
     margin: 0 ;
     padding: 8px 13px 3px 14px;
}

.last_container_news{
  display: grid;
  grid-template-columns:repeat(3,1fr);
  margin: 43px 0 71px 0;
}
.last_news{
  height: 210px;
  /* background: rgba(0, 0, 0, 0.1); */
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
  text-align: center;
  margin-right: 35px;
  display: grid; 
}

.last_img{
  width: 277px;
}

.last_news h3{
  font-weight: bold;
  font-size: 18px;
  color:#353A3D;
  text-align: center;
  margin: 0;
  background: rgba(0, 0, 0, 0.05);
  padding: 5px  0 20px 0;

}

.last_bottom_container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.last_bottom_img{
  width:483px; 
}
.last_bottom_text{
  width: 350px;
  padding: 45px 25px 0 0;
  background: #F9F7F7;
  
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
text-align: right;
}
.last_bottom_text h4{
  color:#353A3D;
  font-weight: bold;
  font-size: 18px;
  margin: 0 0 14.5px 0;
}
.last_bottom_text p{
  color: #5B6469;
  font-weight: 600;
  font-size: 14px;
 
  margin: 0;
}

.footer {
    background: #000000;
    height: 80px;
    display: grid;
justify-content: center;

  }
  .global_footer_container {
    display: grid;
    grid-template-columns:58% 105px;
    align-items: center;
    justify-content: space-between;
    max-width: 1176px;
    width: 100vw;
}
  .footer_rig {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap:3px ;
  }
  .footer_text {
    height: 21px;
    color: #ffffff;
    font-size: 13px;
    margin: 0;
     
} 







