

.box.first.tr {

    /* стучимся к одному тегу у которого сразу два класса ... */
    /* background-color: rgb(49, 184, 49); */
}
.box , .first {
    /* background-color: blue; */
    /* стучимся  к  двум разным тегам у которого есть клссс .box или .first */
}
.box .first {
    /* background-color: rgb(255, 208, 0); */
    /* стучимся к .fist который  находитса в .box*/
}




/* .one {
    background-color: orange;
}
.one.two.three.for{
    background-color:black;
}
.one.two.three{
    background-color:orangered;
}
.one.two{
    background-color:palegreen;
}
.one{
    background-color:pink;
} */



     


/* .box_1 , .box_3 {
    background-color: aqua;
}
.box_2 , .box_4 {
    background-color:brown;
}
.box_g {
    background-color: green;
}
div div p{
    background-color: yellow;
} */















































